.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;

}

body {
  background-color: rgb(89, 89, 215);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.TodoListitemsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  /* height: 100vh; */

}

.Singletodoitem {
  padding: 17px;
  margin: 10px;
  border-radius: 25px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.edit {
  padding: 7px 15px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete {
  padding: 7px 15px;
  cursor: pointer;
  /* margin-right: 10px; */
  border-radius: 5px;
}

.inputText{
  width: 25%;
  margin: 10px;
  padding: 8px 15px;
  border-radius: 7px;
}

.addTask{
  margin: 10px;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #04AA6D;
}